<div class="wrath-and-glory chat roll">
    <div class="wrapper">
        <h3>{{name}}</h3>

        <div style="text-align: center;">
            {{#if result.isSuccess}}
            <h4>{{localize "CHAT.DN"}} {{dn}}</h4>
            {{else}}
            <h4>{{localize "CHAT.DN"}} {{dn}}</h4>
            {{/if}}
            {{#each result.dice as |die|}}
            <img width='50px' height='50px' src='systems/wrath-and-glory/asset/image/die-{{die.name}}.png' />
            {{/each}}
        </div>
    </div>

    <div class="wrapper-input">
        <p><strong>{{localize "CHAT.SUCCESS"}}: {{result.success}}</strong></p>
        <p><strong>{{localize "CHAT.FAILURE"}}: {{result.failure}}</strong></p>
        {{#if result.isSuccess}}
        <p><strong>{{localize "CHAT.SHIFTING"}}: {{result.shifting}}</strong></p>
        {{/if}}
        {{#if result.isWrathCritical}}
        <p><strong style="color: var(--color-red)">{{localize "CHAT.WRATH_CRITICAL_TITLE"}}</strong><strong>: {{localize "CHAT.WRATH_CRITICAL_DESCRIPTION"}}</strong></p>
        {{/if}}
        {{#if result.isWrathComplication}}
        <p><strong style="color: var(--color-red)">{{localize "CHAT.WRATH_COMPLICATION_TITLE"}}</strong><strong>: {{localize "CHAT.WRATH_COMPLICATION_DESCRIPTION"}}</strong></p>
        {{/if}}
    </div>
</div>
</div>