.wrath-and-glory.chat {
  color: var(--color-black);
  font-family: var(--font-text);
  font-size: 12px;
  line-height: 16px;
  padding: 5px;
}

.wrath-and-glory.chat .wrapper {
  background: url(../../asset/image/background.jpg) repeat;
  padding: 10px;
}

.wrath-and-glory.chat .wrapper-input {
  background: url(../../asset/image/input.jpg) repeat;
  padding: 10px;
  border: 1px solid var(--color-black);
  box-shadow: inset 0 0 6px var(--color-dark-grey);
}

.wrath-and-glory.chat strong {
  font-family: var(--font-text);
  font-weight: bold;
  font-size: 14px;
}

.wrath-and-glory.chat h3 {
  color: var(--color-red);
  font-family: var(--font-text);
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  border-style: solid;
  border-width: 0px 8px 8px 8px;
  border-image: var(--image-title-border) 8 8 8 8 repeat repeat;
}

.wrath-and-glory.chat h4 {
  color: var(--color-black);
  font-family: var(--font-text);
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.wrath-and-glory.chat.item img {
  display: block;
  margin: 0 auto 8px;
  max-height: 64px;
  width: auto;
  border: 8px solid transparent;
  border-image: var(--image-border) 8 8 8 8 repeat repeat;
}

.wrath-and-glory.chat.roll img {
  border: none;
  border-radius: 0;
}

.wrath-and-glory.chat p {
  margin: 0 0 4px;
}