<div class="wrath-and-glory dialog">
    <h1>{{localize name}}</h1>
    <div class="wrapper">
        <label>{{localize "DIALOG.DN"}}</label>
        <input id="dn" type="number" value="{{difficulty.target}}" data-dtype="Number" />
    </div>
    <div class="wrapper">
        <label>{{localize "DIALOG.DICE_POOL"}}</label>
        <input id="pool" type="number" value="{{pool.size}}" ata-dtype="Number" />
    </div>
</div>
<script>
    $(".wrapper input").focusin(function () {
        $(this).select();
    });
</script>