<div class="wrath-and-glory dialog">
    <h1>{{localize skillName}}</h1>
    <div class="wrapper">
        <label>{{localize "DIALOG.DN"}}</label>
        <input id="target" type="number" value="{{difficulty.target}}" data-dtype="Number" />
    </div>
    <div class="wrapper">
        <label>{{localize "DIALOG.PENALTY"}}</label>
        <input id="penalty" type="number" value="{{difficulty.penalty}}" data-dtype="Number" />
    </div>
    <div class="wrapper">
        <label>{{localize "DIALOG.DICE_POOL"}}</label>
        <input id="size" type="number" value="{{pool.size}}" ata-dtype="Number" />
    </div>
    <div class="wrapper">
        <label>{{localize "DIALOG.BONUS"}}</label>
        <input id="bonus" type="number" value="{{pool.bonus}}" ata-dtype="Number" />
    </div>
    <h1 style="margin-top: 8px;">{{name}}</h1>
    <div class="wrapper">
        <label>{{localize "WEAPON.DAMAGE"}}</label>
        <input id="damage" type="number" value="{{weapon.damage}}" ata-dtype="Number" />
    </div>
    <div class="wrapper">
        <label>{{localize "DIALOG.BONUS"}}</label>
        <input id="damage-bonus" type="number" value="{{weapon.bonus}}" ata-dtype="Number" />
    </div>
    <div class="wrapper">
        <label>{{localize "WEAPON.ED"}}</label>
        <input id="ed" type="number" value="{{weapon.ed}}" ata-dtype="Number" />
    </div>
    <div class="wrapper">
        <label>{{localize "WEAPON.AP"}}</label>
        <input id="ap" type="number" value="{{weapon.ap}}" ata-dtype="Number" />
    </div>
</div>
<script>
    $(".wrapper input").focusin(function () {
        $(this).select();
    });
</script>